<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/imagetotext" method="post" enctype="multipart/form-data">
        <label for="post">image to text</label>
        <input type="file" name="file" accept="image/*" id="input">
        <button>convert</button>
    </form>
    <textarea cols="30" rows="30">
        <%=data%>
     </textarea>
</body>

</html>